.addCategoryPage {
    min-height: 100dvh;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .addCategoryCard {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .addCategoryCard h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #111827;
  }
  
  .addCategoryForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .addCategoryForm input {
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
  }
  
 
  
  
  .message {
    margin-top: 15px;
    font-size: 14px;
    color: #2563eb;
  }


  #submit-btn-add-main-category{
    padding: 12px;
    background: linear-gradient(135deg, #2563eb, #3b82f6);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #submit-btn-add-main-category:hover{
    background-color: #5489d9;
    cursor:pointer;
    
  }
  